$teal: #126097;
$antique: #F5DECA;
$ice-blue: #FAFBFB;
$peru: #C85A39;
$light-blue: #98C4D1;

#logo{
   background-image: url('img/EYO LOGO.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   height: 70px;
   position: absolute;
   top: 8px;
   right: 0;
   width: 70px;

   @media screen and (max-width: 480px){
        width: 40px;
        height: 40px;
    }

}



nav{
    background: rgba($color: #ffffff, $alpha: 0.7);
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    background:rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 40000;
    font-family: "GothamRoundedLight",sans-serif;
    color: black;
    height: 80px;
    
    ul{
        height: inherit;
        li{
            height: inherit;
            a{
                height: inherit;
                line-height: 80px;
                color: black;
                font-size: 1em;
                list-style: none;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .dropdown-menu{
       overflow: hidden;
       height: auto;
        li{
            height: 30px;
            width: 100%;
            a{
                line-height: 30px;
            }
        }
    }
   

    .left{
        margin-left: 24%;
    }
    .right{
        margin-right: 23%;
    }

    @media screen and (max-width: 480px){
        height: 50px;
    }
}

.side-nav{
    z-index: 2000;
    background: $teal;

    li{
        z-index: inherit;
        color: white;
        height: 30px;
        a{
            color: black;
        }
    }
}

#sidenav-overlay{
    //opacity: 0;
    z-index: -1;
    //display: none;
}

body{
    height: 100%;
    background: $ice-blue;
    color: black;
    overflow-x: hidden !important;

    h2{
        font-family: "GothamBold",sans-serif;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 5%;
        color: rgb(100, 100, 100);
        margin-top: 5%;

        hr{
            width: 7%;
            font-size: 10px;
            margin-left: 35.5%;
            margin-top: 1;
            padding-top: 0;
            height: 2px;
            background: rgb(100, 100, 100);
            border: 0px;
            color: rgb(100, 100, 100);
        }

        @media screen and (max-width: 480px){
            font-size: 30px;
        }
    
    }
}

#homepage-section{
    position: relative;
    img{
        height: 100%;
    }
    button{
        position: absolute;
        bottom: 5%;
        right: 5%;
        // 
       
    }

    #text{
        position: absolute;
        bottom: 35%;
        left: 10%;
        z-index: 20;
        color: white;
        font-family: "GothamUltra",sans-serif;

        @media screen and (max-width: 938px){
            bottom: 20%;
        }

        

        hr{
            width: 50%;
            margin: 1%;
            margin-left: 0;
            border-style: solid;
        }

        h6{
            font-size: 50px;
            margin: 0;
            padding: 0;
            line-height: 45px;
        }
        p{
            font-family: "GothamLight",sans-serif;
            font-size: 18px;
            padding: 0;
            //margin: 0;
        }

        @media screen and (max-width: 480px){
            h6{
                font-size: 30px;
                line-height: 28px;
            }
            p{
                font-size: 12px;
            }
        }
    } 
}

#homepage-section1{
    position: relative;
    height: 100%;
    font-family: "GothamRoundedLight",sans-serif;
    img{
        width: 100%;
       // height: 600px;
    }


    button{
        position: absolute;
        bottom: 5%;
        right: 5%;
        // 
       
    }

    #text{
        position: absolute;
        bottom: 35%;
        left: 10%;
        z-index: 20;
        color: white;
        font-family: "GothamUltra",sans-serif;

        @media screen and (max-width: 938px){
            bottom: 20%;
        }

        

        hr{
            width: 50%;
            margin: 1%;
            margin-left: 0;
            border-style: solid;
        }

        h6{
            font-size: 50px;
            margin: 0;
            padding: 0;
            line-height: 45px;
        }
        p{
            font-family: "GothamLight",sans-serif;
            font-size: 18px;
            padding: 0;
            //margin: 0;
        }

        @media screen and (max-width: 480px){
            h6{
                font-size: 30px;
                line-height: 28px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}



#homepage-section2{
    padding: 5% 10%;
    font-family: "GothamRoundedLight",sans-serif;
    position: relative;
    height: auto;

    h1,h3{
        color: rgba(226, 216, 216,0.2);
        position: absolute;
        font-size: 200px;
        bottom: 0;
        right: 0;
        //border: 1px solid black;
        font-family: "GothamUltra",sans-serif;
        font-weight: bold;
        z-index: -1;
    }

    h3{
        display: none;
    }

    .l4{
        margin: 0;
        //padding: 0;

    }

   
    .card{
        transition: transform 0.5s ease-in;
        //height: 600px;
        .card-image{
            height: 70%;
            img{
                height: 100%;
            }
        }
        &:hover{
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -moz-transform: scale(1.1);
        }
    }
}

#quote{
    font-family: "GothamRoundedLight",sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background: $light-blue;
    overflow-x: hidden;
    //height: 100%;

    h6{
        font-style: italic;
        //font-weight: bold;
        text-transform: uppercase;
    }

    #round{
        text-align: center;
        margin-left: 49%;
        margin-top: 3%;
        margin-bottom: 3%;
        div{
            width: 10px;
            height: 10px;
            border: 0;
            background-color: $teal;
            border-radius: 50%;
        }
    }
}

#homepage-section3{
    position: relative;
    margin-top: 5%;
    height: auto;
    padding-right: 5px;
    
    h1{
        color: rgba(226, 216, 216,0.3);
        position: absolute;
        font-size: 200px;
        bottom: 0;
        left: 0;
        //border: 1px solid black;
        font-family: "GothamUltra",sans-serif;
        font-weight: bold;
        z-index: -1;
    }

    h2{
        hr{
            margin-left: 38%;
        }
    }

    .col:last-child{
        height: 350px;
        padding: 0;
        //border: 1px solid black;
       
    }
    .col{
        padding-right: 0;
        background: transparent;
        div{
            height: 50px;
            width: 100%;
            //border: 1px solid black;

            h6,p{
                padding: 0;
                margin: 0;
            }
        }
    }

    .tabs{
        height: auto;
        padding: 1%;
        overflow: hidden !important;
        position: relative;
        background: $teal;
        overflow: hidden;
        z-index: 1;
        // background: white;
        // background-image: url('img/bled-2582655_1920.jpg');
        // background-repeat: no-repeat;
        // background-size: cover;

        


        &::before{
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.6;
            background-image: url('img/bled-2582655_1920.jpg');
            background-repeat: no-repeat;
            background-position: 50% 0;
            -ms-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;
        }
        margin-top: 10%;
        li{
            display: block;
            height: 70px;
            background: white;
            border-bottom: 1px solid;
            overflow: hidden !important;
            background: transparent;
            color: black;
            color: white;
            z-index: 10;
            padding-top: 2%;

            &.indicator{
                display: none;
            }

            a{
                font-size: 13px;
                font-family: "GothamRoundedLight",sans-serif;
                text-align: left;
                color: black;
                color: white;
                //color: white;
                
                h6{
                    font-size: 13px;
                    padding: 0;
                    font-family: "GothamRoundedBook",sans-serif;

                    
                    //margin: 0;
                }
                p{
                    font-size: 10px;
                    padding: 0;
                    margin: 0;
                    line-height: 12px;
                    height: 12px;
                    width: 70%;
                }
            }

            
        }

        li.indicator{
            border: 0;
        }

        @media only screen and (max-width: 1000px){
            width: 100%;
        
            .tab{
                display: flex;
                flex-direction: column;
                height: auto;
            }
            li{
                //width: 100%;
                //width: 400px;
                display: block;
                height: auto;
                border-bottom: 0;
                border-right: 1px solid white; 

                a{
                    width: 100%;
                    display: block;
                    font-size: 8px;
                    padding: auto 5px;
                    
                   h6{
                       font-size: 8px;
                       
                   }
                   p{
                        font-size: 8px;
                        word-wrap: break-word;
                        height: auto;
                        width: 100%;
                        overflow: visible !important;
                        display: none;
                   }
                }
            }

            li:nth-child(4){
                border-right: 0px;
            }
        }
       
    }

    #tab-content{
        width: 60%;
        height: 60%;
        position: absolute;
        z-index: -1;
        left: 25%;
        background: $teal;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
       
        h4{
            color: white;
            font-size: 16px;
            font-family: "GothamMedium",sans-serif;
            font-weight: bold;
            position: absolute;
            right: -5%;
            top: 10%;
            transform: rotateZ(90deg);
            //border: 1px solid black;
            z-index: 200;
        }
        div{
            width: 50%;
            height: 60%;
            padding: 2%;
            margin-top: 5%;
            padding-left: 0;
            margin-left: 40%;
            opacity: 0;
            animation: fadeIn 0.5s forwards ease-in;

            button{
                color:white;
                background: $peru;
            }

            h6{
                font-size: 12px;
                font-family: "GothamRoundedMedium",sans-serif;
                color: white;
                text-transform: uppercase;
                margin-bottom: 2%;
                letter-spacing: 0;
            }
            p{
                width: 90%;
                font-size: 11px;
                //line-height: 10px;
                letter-spacing: 0px;
                color: white;
                font-family: "GothamRoundedLight",sans-serif;
            }
        }
        

        
    }

    @media only screen and (max-width: 1000px){
        margin-top: 5%;
        
        .tabs{
            margin-top: 2%;
        }
        #tab-content{
            position: relative;
            margin-left: 0;
            width: 90%;
            left: 5%;
            right: 5%;
            height: auto;
            margin-bottom: 5%;
    
            div{
                width: 100%;
                margin: 0;
                padding: 10% 5%;
            }
        }
        
    }

    
}

#homepage-section4{
    margin-top: 10%;
    padding: 0 5%;

    .l4{
        background-image: url('img/eyo-cross.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        
    }
    
    .hexagon{
        display: inline-block;

    }

    .two{
        transform: translate(75px,-40px);
        -webkit-transform: translate(75px,-40px);
        -o-transform: translate(75px,-40px);
        -moz-transform: translate(75px,-40px);
        // .hexagon{
        //     background-image: url("img/pex5.jpeg");
        //     background-repeat: no-repeat;
        //     background-size: contain;
        // }
       
        
    }

    .three{
        transform: translate(150px,-80px);
        -webkit-transform: translate(150px,-80px);
        -o-transform: translate(150px,-80px);
        -moz-transform: translate(150px,-80px);
    }
      
    .hexagon {
        position: relative;
        width: 150px; 
        height: 86.60px;
        background-color: #64C7CC;
        margin: 43.30px 0;
      }
      
      .hexagon:before,
      .hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
      }
      
      .hexagon:before {
        bottom: 100%;
        border-bottom: 43.30px solid #64C7CC;
      }
      
      .hexagon:after {
        top: 100%;
        width: 0;
        border-top: 43.30px solid #64C7CC;
      }
      

    
}

#homepage-section5{
    //margin-bottom: 5%;
    height: 50%;
    margin-bottom: 0;
    #image{
        background-image: url('img/bible1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 400px;

        // &::after{
        //     content: '';
        //     background: beige;
        //     opacity: 0.4;
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        //     bottom: 0;
        //     right: 0; 
        // }
    }
    #image-text{
        background-color: beige;
        height: 400px;
        padding-left: 20px;
        padding-right: 40px;
        h2{
            font-family: "GothamBold",sans-serif;
            text-align: left;
            font-size: 25px;
            //color: $teal;

            em{
                color: $teal;
                font-style: normal;
            }
        }
        hr{
            border: 1px solid $teal;
            width: 10%;
            margin-left: 0;
        }
        p,h6{
            font-family: "GothamRoundedLight",sans-serif;
            font-size: 12px
        }
        p{
            //font-size: 12px;
        }

        div{
            margin-top: 5%;
            //text-align: right;

            a{
                background: $teal
            }

            #join{
                background: transparent;
                border: 1px solid $teal;
                color: $teal;
            }
        }
    }
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1}
}
#footer{
    margin-top: 0;
    height: 300px;
    background: $teal;
    //background: rgba(255,255,255,0.7);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    #social-media{
        width: 15%;
        //border: 1px solid;
        //margin-left: 35%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0%;
        margin-bottom: 2%; 
        img{
            width: 30px;
            height: 30px;
        }
    }

    h3{
        color: white;
        //margin: 0;
        padding: 0;
        font-family: "GothamLight",sans-serif;
        margin-top: 0%;
        margin-bottom: 2%; 
        font-size: 16px;
    }

    #copyright{
        color: white;
        font-family: "GothamBook",sans-serif;
        font-size: 16px;
        margin-top: 0%;
        margin-bottom: 2%; 
    }

    @media screen and (max-width: 480px){
        #social-media{
            width: 40%;
            margin-bottom: 5%;
        }
    }
}

#get-section1{
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: hidden;

    #get-form{
        min-height: 100%;
        padding-bottom: 10%;
    }
}


//------------------------------------------------------ABOUT-------------------------
#about-wrapper{
    .profile_head,#about2,#about3{
        margin-bottom: 0%;
        padding-bottom: 0;
        h1{
            font-family: "GothamBold",sans-serif;
            font-size: 40px;
            text-align: center;
            //font-weight: bold;
            //margin-bottom: 5%;
            color: rgb(100, 100, 100);

            @media screen and (max-width: 480px){
                font-size: 30px;
            }

            hr{
                width: 7%;
                font-size: 10px;
                margin-left: 40%;
                margin-top: 1%;
                padding-top: 0;
                height: 2px;
                background: rgb(100, 100, 100);
                border: 0px;
                color: rgb(100, 100, 100);
            }
        }
        
    }
    p{
        font-family: "GothamRoundedLight",sans-serif !important;
        // display: inline-block;
        // width: 50%;
        
    }
    #about2{
        margin-top: 5%;
        margin-bottom: 0%;

        #about2-text{
            background: beige;
            text-align: left;
            padding-left: 15px;
            height: 399px;

            h1{
                text-align: left;

                hr{
                    margin-left: 0;
                }
            }
            p{
                font-size: 14px;
                width: 80%;
                height: 100%;;
            }
        }

        #about-image1{
            background-image: url('img/IMG_9416.jpg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 400px;
        }

        @media screen and (max-width: 480px){
            #about2-text{
                p{
                    font-size: 11px;
                    width: 90%
                }
            }
            #about-image1{
                height: 200px;
            }
            
        }
    }

    #about3{
        margin-top: -2%;
        
        #about3-text{
            background: beige;
            text-align: left;
            padding-left: 20px;
            height: 400px;

            p{
                font-size: 14px;
                width: 80%;
            }

            h1{
                text-align: left;

                hr{
                    margin-left: 0;
                }
            }
        }

        #about-image2{
            background-image: url('img/IMG_9382.jpg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 400px;
        } 

        @media screen and (max-width: 480px){
            #about3-text{
                height: auto;
                p{
                    font-size: 11px;
                    width: 90%
                }
            }
            #about-image2{
                height: 200px;
            }
            
        }
    }
}


//-------------------------------------------------------CONTACT-------------------------
#map {
    height: 100%;
    width: 100%;
    position: relative;

    
}
#contact-info{
    position: absolute;
    right: 5%;
    bottom: 15%;
    width: 40%;
    height: 50%;
    background: $teal;
    z-index: 40000000000;

   

    

    h4{
        // text-align: center;
        color: white;
        padding: 10px 20px;
        font-family: "GothamRoundedLight",sans-serif;
        font-size: 12px;

        img{
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }

        a{
            color: white;
            //margin-left: 10px;

            &:hover{
                color: white;
            }
        }
    }
    hr{
        opacity: 0.6;
        width: 90%;
        margin: 1%;
        margin-left: 5%;
    }

    #location{
        // text-align: center;
        h6{
            color: white;
            padding: 10px 20px;
            font-family: "GothamRoundedLight",sans-serif;
            font-weight: normal;
            font-size: 14px;
            padding-bottom: 0;
            margin: 0;

            img{
                width: 5%;
                height: 5%;
            }
        }
        address{
            margin-top: 0;
            padding-top: 0;
            padding-left: 50px;
            // text-align: center;
            color: white;
            font-family: "GothamRoundedLight",sans-serif;
            font-size: 12px;
        }
    }

    h2{
        color: $light-blue;
        text-align: left;
        font-size: 30px;
        margin: 0;
        padding-left: 20px;
        padding-top: 10px;

        hr{
            margin-left: 0;
            background: $light-blue;
            margin: 0;
            width: 10%;
            margin-top: 3px;
        }
    }

    @media screen and (max-width: 768px){
        right: 5%;
        bottom: 5%;
        width: 80%;
        height: 40%;
     }

    @media screen and (max-width: 480px){
       right: 5%;
       bottom: 5%;
       width: 80%;
       height: 50%;
    }
}

//--------------------------------------------------DEPARTMENT--------------------------
#department-head{
    margin-top: 3%;
    h2{
        font-family: "GothamBold",sans-serif;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0%;
        color: rgb(100, 100, 100);
        letter-spacing: 0px;
        text-transform: uppercase;

        hr{
            width: 7%;
            font-size: 10px;
            margin-left: 39%;
            margin-top: 5px;
            padding-top: 0;
            height: 2px;
            background: rgb(100, 100, 100);
            border: 0px;
            color: rgb(100, 100, 100);
        }

        @media screen and (max-width: 480px){
            font-size: 30px;
        }
    
    }
}
#department-wrapper{
    padding:  10px 30px;
    font-family: "GothamRoundedLight",sans-serif;
    letter-spacing: 0px;

    .nav-tabs{
        li{
            a{
                color: $teal;
            }
        }
    }

    #missions,#branch{
        padding-left: 20px;
        #missions-text{
            h1{
                margin-top: 5%;
                font-family: "GothamMedium",sans-serif;
                font-size: 24px;
                text-align: left;
                text-decoration: 1px dashed salmon;
            }

            ul{
                margin-top: 2px;
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    padding-top: 20px;
                    //width: 45%;

                    div:first-child{
                        // display: flex;
                        // justify-content: center;
                        // align-content: center;
                        // align-items: center;
                        padding-top: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        i{
                            padding: 15px;
                            background: $light-blue;
                            border-radius: 50%;
                            color: white;
                            font-size: 18px;
                        }
                    }

                    div:last-child{
                        h6{
                            margin: 0;
                            padding: 0;
                            font-size: 14px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        #missions-image{
            padding-top: 40px;
            // display: flex;
            // flex-direction: row;
            // justify-content: center;
            // align-content: center;
            // align-items: center;
            // height: 1000px;
        }
    }
    #branch{
        #missions-text{
            ul{
                li{
                    height: 120px;
                    div:first-child{
                        padding-top: 0px;
                    }
                }
            }
        }
        
    }
    #outreach,#branch,#prayer,#youth,#programs,#music,#partners{
        padding-top: 2%;
        h1{
            font-family: "GothamMedium",sans-serif;
            font-size: 24px;
            text-align: left;
        }
        p{
            width: 80%;
        }
    }

    // h1{
    //     font-family: "GothamBold",sans-serif;
    //     font-size: 40px;
    //     text-align: center;
    //     font-weight: bold;
    //     //margin-bottom: 5%;
    //     color: rgb(100, 100, 100);

    //     @media screen and (max-width: 480px){
    //         font-size: 30px;
    //     }
    
    // }


}
// #department-wrapper{
//     margin-top: 80px;
//     height: 400px;

//     // #scroll-menu{
//     //     position: fixed;
//     //     right: 0;
//     // }

//     #missions,#outreach{
//         padding: 20px;
//         font-family: "GothamRoundedLight",sans-serif; 


//         h1{
//             font-size: 24px;
//             font-family: "GothamMedium",sans-serif;
//             letter-spacing: -1px;
//             text-align: left;
//         }
//         h3{
//             font-size: 18px;
//             text-align: center;
//             font-weight: bold;
//             margin-top: 5%;
//         }
//         // p{
//         //     font-family: "GothamRoundedLight",sans-serif; 
//         // }

//         .tabs{
//             margin-top: 3%;
//             font-family: "GothamRoundedLight",sans-serif;
//             .indicator{
//                 background: $teal;
//             }
//             li{
//                 width: auto;
                
//                 a{
//                     color: $teal;
//                     &:hover{
//                         text-decoration: none;
//                         color: $teal;
//                     }
//                     &:active,&:focus{
//                         text-decoration: none;
//                         color: $teal;
//                         border-color: $teal 
//                     }

                    
//                 }
//             }
//         }

//         #test-swipe-1,#test-swipe-2,#test-swipe-3,#test-swipe-4{
//             //border: 1px solid $light-blue;
//             padding: 20px;
//             height: 150px;
//             background: $light-blue;
//             //opacity: 0.3;
//             color: white;
//             margin-bottom: 20px;
//         }
//     }

//     #outreach{
//         // display: flex;
//         // flex-direction: row;
//         height: 500px;
//         div{
//             div:last-child{
//                 height: 500px;
//                 display: flex;
//                 flex-direction: column;
//                 align-content: center;
//                 justify-content: center;
//                 //border: 1px solid
//                 //align-items: center;
//             }
//         }
        
//     }
// }

//---------------------------   keyframes ----------------------
@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


// ---------------------------FONT FACES--------------------------------------------
@font-face {
    font-family: "GothamLight";
    src: url("fonts/GothamLight.eot")format('embedded-opentype');
    src: url("fonts/GothamLight.woff")format("woff"),
        url("fonts/GothamLight.otf")format("opentype"),
        url("fonts/GothamLight.ttf")format("truetype"),
        url("fonts/GothamLight.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}
@font-face {
    font-family: "GothamBook";
    src: url("fonts/GothamBook.eot")format('embedded-opentype');
    src: url("fonts/GothamBook.woff")format("woff"),
        url("fonts/GothamBook.otf")format("opentype"),
        url("fonts/GothamBook.ttf")format("truetype"),
        url("fonts/GothamBook.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamMedium";
    src: url("fonts/GothamMedium.eot");
    src: url("fonts/GothamMedium.woff")format("woff"),
        url("fonts/GothamMedium.otf")format("opentype"),
        url("fonts/GothamMedium.ttf")format("truetype"),
        url("fonts/GothamMedium.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamBold";
    src: url("fonts/GothamBold.eot")format('embedded-opentype');
    src: url("fonts/GothamBold.woff")format("woff"),
        url("fonts/GothamBold.otf")format("opentype"),
        url("fonts/GothamBold.ttf")format("truetype"),
        url("fonts/GothamBold.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamUltra";
    src: url("fonts/GothamUltra.eot");
    src: url("fonts/GothamUltra.woff")format("woff"),
        url("fonts/GothamUltra.otf")format("opentype"),
        url("fonts/GothamUltra.ttf")format("truetype"),
        url("fonts/GothamUltra.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamBlack";
    src: url("fonts/GothamBlack.eot");
    src: url("fonts/GothamBlack.woff")format("woff"),
        url("fonts/GothamBlack.otf")format("opentype"),
        url("fonts/GothamBlack.ttf")format("truetype"),
        url("fonts/GothamBlack.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamRounded";
    src: url("fonts/GothamRounded.eot");
    src: url("fonts/GothamRounded.woff")format("woff"),
        url("fonts/GothamRounded.otf")format("opentype"),
        url("fonts/GothamRounded.ttf")format("truetype"),
        url("fonts/GothamRounded.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamRoundedBold";
    src: url("fonts/GothamRounded-Bold.eot");
    src: url("fonts/GothamRounded-Bold.woff")format("woff"),
        url("fonts/GothamRounded-Bold.otf")format("opentype"),
        url("fonts/GothamRounded-Bold.ttf")format("truetype"),
        url("fonts/GothamRounded-Bold.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamRoundedBook";
    src: url("fonts/GothamRounded-Book.eot");
    src: url("fonts/GothamRounded-Book.woff")format("woff"),
        url("fonts/GothamRounded-Book.otf")format("opentype"),
        url("fonts/GothamRounded-Book.ttf")format("truetype"),
        url("fonts/GothamRounded-Book.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamRoundedMedium";
    src: url("fonts/GothamRounded-Medium.eot");
    src: url("fonts/GothamRounded-Medium.woff")format("woff"),
        url("fonts/GothamRounded-Medium.otf")format("opentype"),
        url("fonts/GothamRounded-Medium.ttf")format("truetype"),
        url("fonts/GothamRounded-Medium.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamRoundedLight";
    src: url("fonts/GothamRounded-Light.eot");
    src: url("fonts/GothamRounded-Light.woff")format("woff"),
        url("fonts/GothamRounded-Light.otf")format("opentype"),
        url("fonts/GothamRounded-Light.ttf")format("truetype"),
        url("fonts/GothamRounded-Light.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

@font-face {
    font-family: "GothamBook";
    src: url("fonts/GothamBook.eot");
    src: url("fonts/GothamBook.woff")format("woff"),
        url("fonts/GothamBook.otf")format("opentype"),
        url("fonts/GothamBook.ttf")format("truetype"),
        url("fonts/GothamBook.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}


@font-face {
    font-family: "GothamBlack";
    src: url("fonts/GothamBlack.eot");
    src: url("fonts/GothamBlack.woff")format("woff"),
        url("fonts/GothamBlack.otf")format("opentype"),
        url("fonts/GothamBlack.ttf")format("truetype"),
        url("fonts/GothamBlack.svg")format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}




// .slider-item{
//     background-position-x: right;
//     background-repeat: no-repeat;
//     background-size: 50% 100%;
//     padding-left: 50px;
//     background-color: $teal;
    
    

//     hr{
//         width: 20%;
//         color: white;  
//     }

//     p{
//         margin-top: 40px;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase;
//     }
// }
// .carousel.carousel-slider{
//     top: 60px;
// }

// #image-one{
//     background-image: url('img/RevJohn_CroffetDirector.jpg');

//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase;
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-two{
//     background-image: url('img/Kwesi_DepuDirector.jpg');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase;
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-three{
//     background-image: url('img/Kate_MissionsCoord.jpg');

//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-four{
//     background-image: url('img/Melvin_Finance.jpg');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-five{
//     background-image: url('img/ErnestAwutey.JPG');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-six{
//     background-image: url('img/MrsGeorgina.jpg');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-seven{
//     background-image: url('img/AkuaAmankwah.jpg');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-eight{
//     background-image: url('img/MartinAdofo.jpg');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }


// #image-nine{
//     background-image: url('img/VeronicaArkoh.jpg');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-ten{
//     background-image: url('img/SolomonOwusu.jpg');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-eleven{
//     background-image: url('img/AtoAcquah.jpg');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 
//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

// #image-twelve{
//     background-image: url('img/CynthiaBaaba.jpg');
    
//     p{
//         margin-top: 30%;
//         font-size: 50px;
//         font-family: "GothamUltra",sans-serif;
//         color: black;
//         text-transform: uppercase; 

//         line-height: 50px;
//         strong{
//             font-size: 30px;
//             margin: 0;
//             padding: 0;
//         }
//     }
// }

